<a href="https://colab.research.google.com/github/oerv13-gh/Ibero/blob/main/Introducci%C3%B3n_a_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introducción a Pandas

https://colab.research.google.com/drive/1yRilOjm6eut5ZO6QJd5gEFq6N42fyFfM?usp=sharing

#### 1. Importación de pandas

In [ ]:
import pandas as pd

#### 2. La Serie de Pandas (`Series`)

La **Serie** es el componente básico de Pandas. Es una estructura de datos unidimensional, como una columna en una hoja de cálculo.

1.  **Valores:** Contiene los datos reales (números, textos, fechas, etc.).
2.  **Índice:** Tiene etiquetas para cada elemento (por defecto, números que empiezan en 0).

**Ejemplo:** Crearemos una Serie con las alturas de 5 personas.

In [ ]:
import pandas as pd

# Datos de ejemplo: Alturas en centímetros
alturas = [175, 182, 165, 178, 190]

# Crear la Serie de Pandas
serie_alturas = pd.Series(alturas)

print("--- La Serie de Alturas ---")
print(serie_alturas)

print("\nTipo de objeto creado:")
print(type(serie_alturas))

--- La Serie de Alturas ---
0    175
1    182
2    165
3    178
4    190
dtype: int64

Tipo de objeto creado:
<class 'pandas.core.series.Series'>

#### 3. El DataFrame de Pandas (`DataFrame`)

El **DataFrame** es la estructura principal de trabajo. Es una tabla de datos (filas y columnas) que se puede ver como un diccionario de Series, donde las claves del diccionario son los nombres de las columnas.

1.  **Filas:** Tienen un índice común (por defecto, números 0, 1, 2...).
2.  **Columnas:** Cada columna es una Serie.

**Ejemplo:** Crearemos un DataFrame a partir de un diccionario para simular una pequeña tabla de clientes.

In [ ]:
import pandas as pd

# Datos de ejemplo en formato de diccionario
datos_clientes = {
    'ID': [101, 102, 103, 104],
    'Nombre': ['Ana', 'Luis', 'Carla', 'Pedro'],
    'Ventas_Mes': [550.50, 890.75, 420.00, 715.20],
    'Activo': [True, True, False, True]
}

# Crear el DataFrame
df_clientes = pd.DataFrame(datos_clientes)

print("--- El DataFrame de Clientes ---")
print(df_clientes)

print("\nNúmero de filas y columnas (Shape):")
print(df_clientes.shape)

--- El DataFrame de Clientes ---
    ID Nombre  Ventas_Mes  Activo
0  101    Ana      550.50    True
1  102   Luis      890.75    True
2  103  Carla      420.00   False
3  104  Pedro      715.20    True

Número de filas y columnas (Shape):
(4, 4)

In [ ]:
df_clientes

    ID Nombre  Ventas_Mes  Activo
0  101    Ana      550.50    True
1  102   Luis      890.75    True
2  103  Carla      420.00   False
3  104  Pedro      715.20    True

In [ ]:
print(df_clientes.columns)

Index(['ID', 'Nombre', 'Ventas_Mes', 'Activo'], dtype='object')

In [ ]:
df_clientes.describe(include ="all")

                ID Nombre  Ventas_Mes Activo
count     4.000000      4    4.000000      4
unique         NaN      4         NaN      2
top            NaN    Ana         NaN   True
freq           NaN      1         NaN      3
mean    102.500000    NaN  644.112500    NaN
std       1.290994    NaN  204.020589    NaN
min     101.000000    NaN  420.000000    NaN
25%     101.750000    NaN  517.875000    NaN
50%     102.500000    NaN  632.850000    NaN
75%     103.250000    NaN  759.087500    NaN
max     104.000000    NaN  890.750000    NaN

#### 1. Lectura de Archivos (CSV)

Para trabajar con datos reales, necesitamos cargarlos. Usamos `pd.read_csv()` y proporcionamos la ruta del archivo.

**Ejercicio Práctico:** Cargaremos el archivo de ejemplo de Colab: `/content/sample_data/california_housing_test.csv`.

In [ ]:
import pandas as pd

# Definir la ruta del archivo de ejemplo de Colab
ruta_archivo = '/content/sample_data/california_housing_test.csv'

# Cargar el archivo en un DataFrame
df_california = pd.read_csv(ruta_archivo)

print(f"DataFrame cargado desde: {ruta_archivo}")
print(f"Tamaño inicial del DataFrame: {df_california.shape}")

DataFrame cargado desde: /content/sample_data/california_housing_test.csv
Tamaño inicial del DataFrame: (3000, 9)

In [ ]:
df_california

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

#### 2. Inspección Básica del DataFrame

Antes de manipular los datos, siempre debes inspeccionarlos:

* `df.head(N)`: Muestra las primeras $N$ filas.
* `df.shape`: Devuelve una tupla `(filas, columnas)`.
* `df.info()`: Proporciona un resumen de los tipos de datos (`dtypes`) y la presencia de valores no nulos.

In [ ]:
#Hola soy Julian y mi edad 43
nombre ="Julian"
edad = 43

print(f"Hola soy {nombre} y mi edad {edad}")

Hola soy Julian y mi edad 43

In [ ]:
print(df_california.shape[1])

9

In [ ]:
# Mostrar las primeras 5 filas (por defecto)
print("--- Primeras 5 filas (df.head()) ---")
print(df_california.head())

# Mostrar el número de filas y columnas
print("\n--- Dimensiones (df.shape) ---")
print(f"Filas: {df_california.shape[0]}, Columnas: {df_california.shape[1]}")

# Mostrar información resumida sobre los tipos de datos y valores no nulos
print("\n--- Tipos de Datos y Nulos (df.info()) ---")
df_california.info()

--- Primeras 5 filas (df.head()) ---
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

--- Dimensiones (df.shape) ---
Filas: 3000, Columnas: 9

--- Tipos de Datos y Nulos (df.info()) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

#### 3. Estadísticas Descriptivas

El método `df.describe()` es fundamental para un primer análisis. Proporciona un resumen de la distribución de los datos para todas las **columnas numéricas**.

Esto ayuda a identificar valores atípicos (máximos y mínimos extraños) y la dispersión de los datos.

In [ ]:
# Calcular estadísticas descriptivas
print("--- Estadísticas Descriptivas (df.describe()) ---")
print(df_california.describe())

--- Estadísticas Descriptivas (df.describe()) ---
         longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

#### 1. Selección de una Columna

Para seleccionar una sola columna, se utilizan corchetes `[]` y el nombre de la columna como una cadena de texto.

El resultado de seleccionar una columna es un objeto de tipo **Serie**.

**Ejemplo:** Seleccionaremos la columna `'median_income'` (ingreso promedio).

In [ ]:
# Importar el DataFrame (si se ejecuta esta celda por separado)
import pandas as pd
ruta_archivo = '/content/sample_data/california_housing_test.csv'
df_california = pd.read_csv(""ruta_archivo"")

# Seleccionar la columna 'median_income'
ingreso = df_california['median_income']

print("--- Primeros 5 valores de la columna 'median_income' ---")
print(ingreso.head())

print("\nTipo de dato del objeto resultante:")
print(type(ingreso))

--- Primeros 5 valores de la columna 'median_income' ---
0    6.6085
1    3.5990
2    5.7934
3    6.1359
4    2.9375
Name: median_income, dtype: float64

Tipo de dato del objeto resultante:
<class 'pandas.core.series.Series'>

#### 2. Selección de Múltiples Columnas

Si deseas seleccionar más de una columna, debes proporcionar una **lista de nombres de columnas** dentro de los corchetes del DataFrame.

El resultado de seleccionar múltiples columnas es un **DataFrame** (una tabla), no una Serie.

**Ejemplo:** Seleccionaremos las columnas de ubicación: `'longitude'` y `'latitude'`.

In [ ]:
# Seleccionar las columnas 'longitude' y 'latitude'
coordenadas = df_california[      ['longitude', 'latitude', "total_rooms"]       ]

print("--- DataFrame de Coordenadas (primeras 3 filas) ---")
# Mostrar las primeras 3 filas
print(coordenadas.head(3))

print("\nDimensiones del nuevo DataFrame:")
print(coordenadas.shape)

--- DataFrame de Coordenadas (primeras 3 filas) ---
   longitude  latitude  total_rooms
0    -122.05     37.37       3885.0
1    -118.30     34.26       1510.0
2    -117.81     33.78       3589.0

Dimensiones del nuevo DataFrame:
(3000, 3)

#### 3. Selección por Posición (`.iloc`)

El atributo `.iloc` se usa para seleccionar datos basándose únicamente en la **posición numérica** de las filas y columnas. Es muy útil cuando no conoces los nombres de las columnas o quieres seleccionar rangos rápidamente.

La sintaxis es `df.iloc[filas, columnas]`.

**Ejemplo:**
1.  Seleccionar la primera fila completa (índice 0).
2.  Seleccionar un bloque: filas de la 1 a la 3 (excluye el índice 4) y columnas 0 y 1.

In [ ]:
# 1. Seleccionar la primera fila completa (Fila en la posición 0)
primera_fila = df_california.iloc[0]
print("--- Primera fila completa (iloc[0]) ---")
print(primera_fila)

# 2. Seleccionar un bloque de datos (Filas 1, 2, 3 y Columnas 0, 1)
bloque_datos = df_california.iloc[19:40, 2:5]
print("\n--- Bloque de datos (iloc[19:40, 0:5]) ---")
print(bloque_datos)

--- Primera fila completa (iloc[0]) ---
longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

--- Bloque de datos (iloc[19:40, 0:5]) ---
    housing_median_age  total_rooms  total_bedrooms
19                35.0       8814.0          1307.0
20                40.0       1445.0           256.0
21                36.0       1775.0           296.0
22                47.0       2994.0           543.0
23                45.0       2021.0           528.0
24                13.0       6131.0          1040.0
25                36.0       1401.0           218.0
26                52.0       3587.0          1030.0
27                32.0       2612.0           418.0
28                19.0       4845.0          1609.0
29                30.0       3078.0           954.0
30                14.0       1195.0           220.0
31                34.0       1617.0           493.0
32                17.0       3442.0           705.0
33                 5.0      16181.0          2971.0
34                38.0       1067.0           170.0
35                33.0       2886.0           726.0
36                52.0       1560.0           451.0
37                34.0       1478.0           251.0
38                31.0        894.0           203.0
39                11.0       5785.0          1035.0

# 📝 Explicación Completa del Método `.iloc` en Pandas

El método **`.iloc`** (acrónimo de *integer location* o **localización por índice entero**) es la herramienta principal de la biblioteca Pandas para seleccionar datos de un DataFrame **únicamente basándose en su posición numérica** (su índice).

A diferencia de `.loc`, que usa los nombres de las filas y columnas, `.iloc` **ignora** las etiquetas y trabaja estrictamente con números enteros, comenzando el conteo en **cero (0)**.

### 📐 Sintaxis Básica

La sintaxis siempre sigue el formato:

$$\text{df.iloc} [ \text{filas}, \text{columnas} ]$$

Donde la selección para `filas` y `columnas` puede ser:

| Tipo de Selección | Descripción | Ejemplo en Código | Resultado |
| :--- | :--- | :--- | :--- |
| **Entero Único** | Selecciona la fila o columna en esa posición exacta (índice 0, 1, 2...). | `df.iloc[0]` | La primera fila completa. |
| **Lista de Enteros** | Selecciona múltiples filas o columnas no contiguas. | `df.iloc[[0, 5, 9], [1, 3]]` | Filas en las posiciones 0, 5, 9 y Columnas en 1 y 3. |
| **Rebanada (*Slicing*)** | Selecciona un rango contiguo de filas o columnas. **¡Cuidado!** El índice de fin es **exclusivo**. | `df.iloc[2:5]` | Filas en las posiciones 2, 3 y 4 (omite la posición 5). |
| **Selección Completa** | Se usa el carácter de dos puntos (`:`) para seleccionar todos los elementos de esa dimensión. | `df.iloc[:, 2]` | Todas las filas de la columna en la posición 2. |

### 🧭 Ejemplos Clave de Uso

| Objetivo | Código de `.iloc` | Lo que Selecciona |
| :--- | :--- | :--- |
| **Una Fila** | `df.iloc[1]` | La segunda fila completa. |
| **Una Columna** | `df.iloc[:, 3]` | La cuarta columna completa. |
| **Un Valor Único** | `df.iloc[2, 4]` | El valor ubicado en la tercera fila y quinta columna. |
| **Primeras N Filas** | `df.iloc[:5]` | Las primeras 5 filas (índices 0 a 4). |
| **Últimas N Filas** | `df.iloc[-5:]` | Las últimas 5 filas (utiliza índices negativos, como en Python). |
| **Subconjunto Rectangular** | `df.iloc[0:10, 5:8]` | Filas del 0 al 9 y columnas del 5 al 7. |

### ⚠️ Recordatorio Importante

La indexación con `.iloc` es **absolutamente posicional**. Es el método más rápido para acceder a datos por posición.

In [ ]:
try:
    # 1. La entrada de datos debe ir dentro del 'try'
    #    para capturar el ValueError si el usuario digita una letra.
    b = int(input("Digita un dato: "))

    # 2. La impresión del dato (opcional)
    print(f"El valor de b es: {b}")

    # 3. La operación de división
    print(f"El resultado de la división (a/b) es: {a / b}")

except ZeroDivisionError:
    # Se ejecuta si 'b' es 0 (ej. a/0)
    print("❌ Error: No puedo dividir por cero.")

except ValueError:
    # Se ejecuta si la conversión 'int(input(...))' falla (ej. si el usuario digita "x")
    print("❌ Error: El dato ingresado no es un número entero válido.")

except Exception as e:
    # Una excepción genérica para cualquier otro error imprevisto
    print(f"❌ Ocurrió un error inesperado: {e}")

Digita un dato: w
❌ Error: El dato ingresado no es un número entero válido.

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada en tu sesión de Colab
# y contiene los datos del archivo california_housing_test.csv.



try:
    # Usamos una copia de las primeras 10 filas del DataFrame original
    df = df_california.head(10).copy()
except NameError:
    # En caso de que no esté cargado, crea un DataFrame de prueba para que el código no falle
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = np.random.rand(10, 8) * 100
    cols = [f'col_{i}' for i in range(8)]
    df = pd.DataFrame(data, columns=cols)


print("--- DataFrame Inicial (Primeras 10 filas) ---")
print(df)
print("\n" + "="*50 + "\n")


# 1. EJEMPLO: Seleccionar la fila en la posición 5 (índice 5)
print("--- 1. Fila en la posición 5 (iloc[5]) ---")
sexta_fila = df.iloc[5]
print(sexta_fila)
print("\n")


# 2. EJEMPLO: Seleccionar las filas de la posición 0 a la 2 (índices 0, 1) y todas las columnas
print("--- 2. Filas 0 y 1 (iloc[:2, :]) ---")
filas_0_y_1 = df.iloc[:2, :]
print(filas_0_y_1)
print("\n")


# 3. EJEMPLO: Seleccionar las columnas en las posiciones 0, 4 y 7 para todas las filas
print("--- 3. Columnas 0, 4 y 7 (iloc[:, [0, 4, 7]]) ---")
cols_especificas = df.iloc[:, [0, 4, 7]]
print(cols_especificas.head())
print("\n")


# 4. EJEMPLO: Seleccionar un subconjunto específico: Filas 3:5 y Columnas 1:3
# (Esto selecciona: Filas 3, 4; Columnas 1, 2)
print("--- 4. Subconjunto: Filas 3:5 y Columnas 1:3 (iloc[3:5, 1:3]) ---")
subconjunto_area = df.iloc[3:5, 1:3]
print(subconjunto_area)

--- DataFrame Inicial (Primeras 10 filas) ---
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0
5    -119.56     36.51                37.0       1018.0           213.0
6    -121.43     38.63                43.0       1009.0           225.0
7    -120.65     35.48                19.0       2310.0           471.0
8    -122.84     38.40                15.0       3080.0           617.0
9    -118.02     34.08                31.0       2402.0           632.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0
5       663.0       204.0         1.6635             67000.0
6       604.0       218.0         1.6641             67000.0
7      1341.0       441.0         3.2250            166900.0
8      1446.0       599.0         3.6696            194400.0
9      2830.0       603.0         2.3333            164200.0

==================================================

--- 1. Fila en la posición 5 (iloc[5]) ---
longitude              -119.5600
latitude                 36.5100
housing_median_age       37.0000
total_rooms            1018.0000
total_bedrooms          213.0000
population              663.0000
households              204.0000
median_income             1.6635
median_house_value    67000.0000
Name: 5, dtype: float64


--- 2. Filas 0 y 1 (iloc[:2, :]) ---
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0


--- 3. Columnas 0, 4 y 7 (iloc[:, [0, 4, 7]]) ---
   longitude  total_bedrooms  median_income
0    -122.05           661.0         6.6085
1    -118.30           310.0         3.5990
2    -117.81           507.0         5.7934
3    -118.36            15.0         6.1359
4    -119.67           244.0         2.9375


--- 4. Subconjunto: Filas 3:5 y Columnas 1:3 (iloc[3:5, 1:3]) ---
   latitude  housing_median_age
3     33.82                28.0
4     36.33                19.0

In [ ]:
    data = np.random.rand(10, 3) * 100
    cols = ["a","b","c"]
    df = pd.DataFrame(data, columns=["a","b","c"])
    df

           a          b          c
0  13.189982  55.582520  28.993045
1  27.410588  17.985356  73.250813
2  89.679502   6.775854  32.196834
3  46.785639  54.505126  77.489229
4  25.818099  24.370052  19.369232
5  24.583705  48.086714  57.736434
6  70.063696  42.633235  25.661055
7  91.455987  26.730336  88.006389
8  87.043889  57.598473  61.895465
9  93.929191  28.258050  28.253718

# 🚀 Funcionalidades Avanzadas del Método `.iloc`

Más allá de la simple selección, `.iloc` es una herramienta poderosa para modificar y acceder a elementos específicos del DataFrame usando la posición.

### 1. Acceso con Índices Negativos (Reverse Indexing)

Al igual que en las listas de Python, los índices negativos en `.iloc` permiten contar las filas o columnas desde el final del DataFrame:

* **`-1`**: Hace referencia al **último** elemento (última fila o última columna).
* **`-2`**: Hace referencia al penúltimo elemento, y así sucesivamente.

| Objetivo | Código de `.iloc` | Lo que Selecciona |
| :--- | :--- | :--- |
| **Última Fila** | `df.iloc[-1]` | La última fila completa del DataFrame. |
| **Última Columna** | `df.iloc[:, -1]` | La última columna completa (como Series). |
| **Penúltima a Última** | `df.iloc[-2:]` | Las dos últimas filas. |

### 2. Modificación y Asignación de Valores

`.iloc` es fundamental para **modificar los datos** de manera posicional. Se utiliza el operador de asignación (`=`) después de seleccionar el subconjunto deseado.

| Tarea de Modificación | Código de Asignación |
| :--- | :--- |
| **Cambiar un Valor Único** | `df.iloc[3, 0] = 9999` |
| **Cambiar una Fila Completa** | `df.iloc[0] = [100, 200, ...]` |
| **Cambiar un Rango de Celdas** | `df.iloc[5:7, 1:4] = 0` |

> **Nota:** Al asignar valores, el valor único o la longitud del *array*/lista deben coincidir con la forma del subconjunto seleccionado para evitar errores.

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.
try:
    df = df_california.head(8).copy()
    # Reducimos las columnas para que sea fácil de visualizar la modificación
    df = df.iloc[:, 0:4]
except NameError:
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = np.arange(1, 33).reshape(8, 4)
    df = pd.DataFrame(data, columns=['Col_A', 'Col_B', 'Col_C', 'Col_D'])

print("--- DataFrame Inicial (8 filas, 4 columnas) ---")
print(df)
print("\n" + "="*50 + "\n")


# === 1. Acceso con Índices Negativos ===

# a) Seleccionar la última fila (-1)
print("--- 1a. Última Fila (iloc[-1]) ---")
ultima_fila = df.iloc[-1]
print(ultima_fila)
print("\n")


# b) Seleccionar la última columna para todas las filas
print("--- 1b. Última Columna (iloc[:, -1]) ---")
ultima_columna = df.iloc[:, -1]
print(ultima_columna)
print("\n")


# === 2. Modificación y Asignación de Valores ===

# a) Modificar un valor único: Fila 0 (primera), Columna 0 (primera)
print("--- 2a. Modificando un valor único: [0, 0] a 1000 ---")
df.iloc[:,0] = 1000
print(f"Nuevo valor en [0, 0]: {df.iloc[0, 0]}")
print("\n")


# b) Modificar un rango de valores a 0: Filas 2 y 3 (2:4), Columnas 1 y 2 (1:3)
print("--- 2b. Modificando rango: Filas 2:4, Cols 1:3 a 0 ---")
df.iloc[2:4, 1:3] = 0
print("DataFrame después de la modificación del rango:")
print(df)

--- DataFrame Inicial (8 filas, 4 columnas) ---
   longitude  latitude  housing_median_age  total_rooms
0    -122.05     37.37                27.0       3885.0
1    -118.30     34.26                43.0       1510.0
2    -117.81     33.78                27.0       3589.0
3    -118.36     33.82                28.0         67.0
4    -119.67     36.33                19.0       1241.0
5    -119.56     36.51                37.0       1018.0
6    -121.43     38.63                43.0       1009.0
7    -120.65     35.48                19.0       2310.0

==================================================

--- 1a. Última Fila (iloc[-1]) ---
longitude             -120.65
latitude                35.48
housing_median_age      19.00
total_rooms           2310.00
Name: 7, dtype: float64


--- 1b. Última Columna (iloc[:, -1]) ---
0    3885.0
1    1510.0
2    3589.0
3      67.0
4    1241.0
5    1018.0
6    1009.0
7    2310.0
Name: total_rooms, dtype: float64


--- 2a. Modificando un valor único: [0, 0] a 1000 ---
Nuevo valor en [0, 0]: 1000.0


--- 2b. Modificando rango: Filas 2:4, Cols 1:3 a 0 ---
DataFrame después de la modificación del rango:
   longitude  latitude  housing_median_age  total_rooms
0     1000.0     37.37                27.0       3885.0
1     1000.0     34.26                43.0       1510.0
2     1000.0      0.00                 0.0       3589.0
3     1000.0      0.00                 0.0         67.0
4     1000.0     36.33                19.0       1241.0
5     1000.0     36.51                37.0       1018.0
6     1000.0     38.63                43.0       1009.0
7     1000.0     35.48                19.0       2310.0

# 🎯 Último Caso de Uso de `.iloc`: Selección de Columnas como DataFrame vs. Series

Cuando seleccionamos una columna o un conjunto de columnas, el resultado que devuelve `.iloc` puede ser diferente (una **Serie** o un **DataFrame**), lo cual tiene implicaciones sobre cómo puedes seguir manipulando esos datos.

### 1. Obtener una Columna Única como una *Serie* (El Comportamiento Estándar)

Si usas la indexación simple, Pandas devolverá el resultado como una `Series` (una matriz unidimensional etiquetada).

* **Sintaxis:** `df.iloc[:, índice_columna]`
* **Resultado:** Objeto Pandas `Series`.
* **Ejemplo:** `df.iloc[:, 0]`

### 2. Obtener una Columna Única como un *DataFrame*

A veces, necesitas que la columna seleccionada se mantenga como un DataFrame (una matriz bidimensional). Esto es crucial si planeas aplicar transformaciones que solo funcionan en DataFrames o si quieres mantener los nombres de las columnas explícitos.

Para forzar que el resultado sea un DataFrame, debes pasar la posición de la columna como una **lista de índices** (incluso si solo hay uno).

* **Sintaxis:** `df.iloc[:, [índice_columna]]` (Nótese el doble corchete `[]`)
* **Resultado:** Objeto Pandas `DataFrame`.
* **Ejemplo:** `df.iloc[:, [0]]`

### Resumen Visual

| Código `.iloc` | Forma del Resultado | Tipo de Objeto |
| :--- | :--- | :--- |
| `df.iloc[:, 0]` | (n,) | `Series` |
| `df.iloc[:, [0]]` | (n, 1) | `DataFrame` |

Este es el último detalle clave de la sintaxis de `.iloc`.

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.
try:
    df = df_california.head(5).copy()
except NameError:
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = np.arange(1, 16).reshape(5, 3)
    df = pd.DataFrame(data, columns=['Median_Income', 'Housing_Median_Age', 'Total_Rooms'])


print("--- DataFrame Inicial (Primeras 5 filas) ---")
print(df)
print("\n" + "="*50 + "\n")


# 1. Seleccionar la primera columna (índice 0) como una SERIE (Series)
# Usando la sintaxis simple: df.iloc[:, indice]
columna_series = df.iloc[:, 0]
print("--- 1. Columna 0 como SERIE ---")
print(columna_series)
print(f"Tipo de Objeto: {type(columna_series)}")
print(f"Forma (Shape): {columna_series.shape}")
print("\n")


# 2. Seleccionar la primera columna (índice 0) como un DATAFRAME
# Usando la sintaxis de lista: df.iloc[:, [indice]]
columna_dataframe = df.iloc[:, [0]]
print("--- 2. Columna 0 como DATAFRAME (Lista de índices) ---")
print(columna_dataframe)
print(f"Tipo de Objeto: {type(columna_dataframe)}")
print(f"Forma (Shape): {columna_dataframe.shape}")
print("\n")


# 3. Demostración con múltiples columnas (siempre devuelve DataFrame)
# Seleccionar columnas 0, 1 y 2 (índices 0:3)
print("--- 3. Múltiples columnas (siempre DataFrame) ---")
multiples_cols = df.iloc[:, 0:3]
print(f"Tipo de Objeto: {type(multiples_cols)}")
print(f"Forma (Shape): {multiples_cols.shape}")

--- DataFrame Inicial (Primeras 5 filas) ---
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

==================================================

--- 1. Columna 0 como SERIE ---
0   -122.05
1   -118.30
2   -117.81
3   -118.36
4   -119.67
Name: longitude, dtype: float64
Tipo de Objeto: <class 'pandas.core.series.Series'>
Forma (Shape): (5,)


--- 2. Columna 0 como DATAFRAME (Lista de índices) ---
   longitude
0    -122.05
1    -118.30
2    -117.81
3    -118.36
4    -119.67
Tipo de Objeto: <class 'pandas.core.frame.DataFrame'>
Forma (Shape): (5, 1)


--- 3. Múltiples columnas (siempre DataFrame) ---
Tipo de Objeto: <class 'pandas.core.frame.DataFrame'>
Forma (Shape): (5, 3)

In [ ]:
columna_series

0   -122.05
1   -118.30
2   -117.81
3   -118.36
4   -119.67
Name: longitude, dtype: float64

In [ ]:
columna_dataframe

   longitude
0    -122.05
1    -118.30
2    -117.81
3    -118.36
4    -119.67

# 📍 El Método `.loc`: Localización Basada en Etiquetas

El método `.loc` de Pandas se utiliza exclusivamente para la indexación y la selección de datos **basada en etiquetas** (nombres de índice y nombres de columna).

Su sintaxis es similar a `.iloc`: **`df.loc[etiqueta_fila, etiqueta_columna]`**.

### 1. Sintaxis Básica por Etiqueta Única

| Objetivo | Código de `.loc` | Descripción |
| :--- | :--- | :--- |
| **Valor Único** | `df.loc['FilaA', 'Col_B']` | Selecciona la celda específica donde se cruzan la etiqueta de fila y columna. |
| **Fila Completa** | `df.loc['FilaA']` | Selecciona todos los valores de la fila con la etiqueta `'FilaA'`. |
| **Columna Completa** | `df.loc[:, 'Col_B']` | Selecciona todos los valores de la columna con la etiqueta `'Col_B'`. |

### 2. Selección con Listas de Etiquetas

Se pueden pasar listas de etiquetas para seleccionar múltiples filas o columnas en cualquier orden.

| Tarea | Código de `.loc` |
| :--- | :--- |
| **Filas Específicas** | `df.loc[['FilaC', 'FilaA']]` |
| **Columnas Específicas**| `df.loc[:, ['Col_A', 'Col_Z']]` |

### 3. ¡REGLA CRUCIAL!: Slicing (Rebanado) Inclusivo

A diferencia de la mayoría de las operaciones de *slicing* en Python (y de `.iloc`), cuando se usa un *slice* con `.loc`, **el elemento de la etiqueta final SÍ está incluido** en la selección.

| Slicing en Python / `.iloc` | Slicing en `.loc` |
| :--- | :--- |
| **Exclusivo:** `[inicio:fin]` excluye `fin`. | **Inclusivo:** `loc[inicio:fin]` **incluye** `fin`. |
| `[0:3]` selecciona elementos en posición 0, 1, 2. | `loc['A':'C']` selecciona filas etiquetadas como 'A', 'B', **'C'**. |

In [ ]:
import pandas as pd
import numpy as np

# 1. Crear un DataFrame de ejemplo con etiquetas de índice y columna personalizadas
data = {
    'Precio': [100, 200, 300, 400, 500],
    'Cantidad': [1, 5, 2, 8, 3],
    'Ventas': [100, 1000, 600, 3200, 1500]
}
etiquetas_filas = ['ProductoA', 'ProductoB', 'ProductoC', 'ProductoD', 'ProductoE']
df = pd.DataFrame(data, index=etiquetas_filas)

print("--- DataFrame Inicial con Etiquetas Personalizadas ---")
print(df)
print("\n" + "="*60 + "\n")


# === 1. Selección por Etiqueta Única ===

# a) Valor único (Fila 'ProductoC', Columna 'Cantidad')
valor_unico = df.loc['ProductoC', 'Cantidad']
print(f"1a. Valor único en [ProductoC, Cantidad]: {valor_unico}")


# b) Fila completa (ProductoD)
fila_completa = df.loc['ProductoD']
print("\n1b. Fila completa 'ProductoD':")
print(fila_completa)


# c) Columna completa (Precio)
columna_completa = df.loc[:, 'Precio']
print("\n1c. Columna completa 'Precio':")
print(columna_completa)
print("\n" + "="*60 + "\n")


# === 2. Selección con Listas de Etiquetas ===

# a) Filas específicas no contiguas
filas_lista = df.loc[['ProductoE', 'ProductoA', 'ProductoC']]
print("2a. Filas específicas [ProductoE, ProductoA, ProductoC]:")
print(filas_lista)


# b) Filas y columnas específicas
subconjunto = df.loc[['ProductoB', 'ProductoD'], ['Ventas', 'Precio']]
print("\n2b. Subconjunto de filas y columnas específicas:")
print(subconjunto)
print("\n" + "="*60 + "\n")


# === 3. Slicing (Rebanado) Inclusivo con Etiquetas ===

# Seleccionar desde 'ProductoA' hasta 'ProductoC' (¡'ProductoC' está incluido!)
slice_inclusivo_filas = df.loc['ProductoA':'ProductoC']
print("3a. Slicing Inclusivo (ProductoA:ProductoC):")
print(slice_inclusivo_filas)


# Slicing Inclusivo en columnas (Desde 'Precio' hasta 'Ventas')
slice_inclusivo_cols = df.loc[:, 'Precio':'Ventas']
print("\n3b. Slicing Inclusivo de Columnas (Precio:Ventas):")
print(slice_inclusivo_cols)

--- DataFrame Inicial con Etiquetas Personalizadas ---
           Precio  Cantidad  Ventas
ProductoA     100         1     100
ProductoB     200         5    1000
ProductoC     300         2     600
ProductoD     400         8    3200
ProductoE     500         3    1500

============================================================

1a. Valor único en [ProductoC, Cantidad]: 2

1b. Fila completa 'ProductoD':
Precio       400
Cantidad       8
Ventas      3200
Name: ProductoD, dtype: int64

1c. Columna completa 'Precio':
ProductoA    100
ProductoB    200
ProductoC    300
ProductoD    400
ProductoE    500
Name: Precio, dtype: int64

============================================================

2a. Filas específicas [ProductoE, ProductoA, ProductoC]:
           Precio  Cantidad  Ventas
ProductoE     500         3    1500
ProductoA     100         1     100
ProductoC     300         2     600

2b. Subconjunto de filas y columnas específicas:
           Ventas  Precio
ProductoB    1000     200
ProductoD    3200     400

============================================================

3a. Slicing Inclusivo (ProductoA:ProductoC):
           Precio  Cantidad  Ventas
ProductoA     100         1     100
ProductoB     200         5    1000
ProductoC     300         2     600
ProductoD     400         8    3200

3b. Slicing Inclusivo de Columnas (Precio:Ventas):
           Precio  Cantidad  Ventas
ProductoA     100         1     100
ProductoB     200         5    1000
ProductoC     300         2     600
ProductoD     400         8    3200
ProductoE     500         3    1500

In [ ]:
# 1. Crear un DataFrame de ejemplo con etiquetas de índice y columna personalizadas
data = {
    'Precio': [100, 200, 300, 400, 500],
    'Cantidad': [1, 5, 2, 8, 3],
    'Ventas': [100, 1000, 600, 3200, 1500]
}
etiquetas_filas = ['ProductoA', 'ProductoB', 'ProductoC', 'ProductoD', 'ProductoE']
df = pd.DataFrame(data, index=etiquetas_filas)

print("--- DataFrame Inicial con Etiquetas Personalizadas ---")
df

--- DataFrame Inicial con Etiquetas Personalizadas ---

           Precio  Cantidad  Ventas
ProductoA     100         1     100
ProductoB     200         5    1000
ProductoC     300         2     600
ProductoD     400         8    3200
ProductoE     500         3    1500

In [ ]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Ciudad': ['Los Ángeles', 'Nueva York', 'Los Ángeles', 'Chicago', 'Nueva York'],
        'Edad': [24, 27, 22, 22, 24]}
df = pd.DataFrame(data)

# Obtener los valores únicos de la columna 'Ciudad'
valores_unicos_ciudad = df['Edad'].unique()

print(valores_unicos_ciudad)
# Resultado: ['Los Ángeles' 'Nueva York' 'Chicago']

[24 27 22]

# 🎭 Filtrado Condicional (Máscaras Booleanas)

El **filtrado condicional** es la técnica más común y poderosa para seleccionar un subconjunto de filas en un DataFrame de Pandas que satisfacen una o más condiciones específicas. Esta técnica utiliza algo llamado **Máscara Booleana**.

### 1. La Máscara Booleana

Una máscara booleana es una `Series` de valores `True` (Verdadero) y `False` (Falso) que tiene la misma longitud que el DataFrame.

* Si el valor es **`True`**, la fila en esa posición será **seleccionada**.
* Si el valor es **`False`**, la fila será **descartada**.

**Creación de la Máscara:**
Se crea aplicando una condición lógica a una columna, por ejemplo: `df['housing_median_age'] > 50`

### 2. Aplicación del Filtro

Para aplicar la máscara, se coloca dentro de los corchetes de indexación (`[]`) o, de forma más segura y común, dentro de **`.loc`**:

$$\text{df.loc}[\text{Máscara Booleana}, \text{columnas_a_seleccionar}]$$

### 3. Combinando Múltiples Condiciones

Podemos combinar varias condiciones lógicas usando operadores especiales:

| Operador | Significado | Ejemplo | Descripción |
| :--- | :--- | :--- | :--- |
| **`&`** | AND (Y lógico) | `(Cond1 & Cond2)` | La fila se selecciona si **ambas** condiciones son `True`. |
| **`|`** | OR (O lógico) | `(Cond1 | Cond2)` | La fila se selecciona si **al menos una** condición es `True`. |
| **`~`** | NOT (Negación) | `(~Cond1)` | Invierte la condición (selecciona donde la condición **NO** se cumple). |

> **¡Importante!** Al combinar condiciones, **siempre** deben encerrarse las condiciones individuales entre **paréntesis `()`** para asegurar el orden de las operaciones.

In [ ]:
df

      median_income  housing_median_age  population
0            6.6085                27.0      1537.0
1            3.5990                43.0       809.0
2            5.7934                27.0      1484.0
3            6.1359                28.0        49.0
4            2.9375                19.0       850.0
...             ...                 ...         ...
2995         1.1790                23.0      1258.0
2996         3.3906                27.0      3496.0
2997         2.2895                10.0       693.0
2998         3.2708                40.0        46.0
2999         8.5608                42.0       753.0

[3000 rows x 3 columns]

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.
try:
    # Usamos una copia de las columnas relevantes para este ejemplo
    df = df_california[['median_income', 'housing_median_age', 'population']].copy()
except NameError:
    # Si no existe la variable, crea un DataFrame de prueba
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = {
        'median_income': np.random.uniform(1.0, 7.0, 15),
        'housing_median_age': np.random.randint(5, 55, 15),
        'population': np.random.randint(100, 5000, 15)
    }
    df = pd.DataFrame(data)

print("--- DataFrame Inicial (Primeras 5 filas) ---")
print(df.head())
print("\n" + "="*70 + "\n")


# === 1. Filtro Condicional Básico ===

# Queremos las casas donde el ingreso medio (median_income) es mayor a 6
condicion_basica = df['median_income'] > 6
print("1a. Máscara Booleana (Primeras 5):")
print(condicion_basica.head())

# Aplicar el filtro para obtener solo las filas que cumplen la condición
filtro_alto_ingreso = df[condicion_basica]
# Nota: Usamos df[] directamente, pero df.loc[condicion_basica, :] es más explícito
print("\n1b. Filas con median_income > 6:")
print(filtro_alto_ingreso.head())
print(f"Total de filas filtradas: {len(filtro_alto_ingreso)}")
print("\n" + "="*70 + "\n")


# === 2. Combinando Múltiples Condiciones (AND / Y Lógico) ===

# Queremos las casas con:
# 1. Ingreso medio (median_income) mayor a 4
# Y
# 2. Edad media de la vivienda (housing_median_age) menor a 15 años
filtro_compuesto = (df['median_income'] > 4) & (df['housing_median_age'] < 15)

# Aplicar el filtro y seleccionar solo las columnas de 'median_income' y 'population'
resultado_and = df.loc[filtro_compuesto, ['median_income', 'population']]
print("2. Filas (Income > 4 Y Age < 15):")
print(resultado_and.head())
print(f"Total de filas filtradas: {len(resultado_and)}")
print("\n" + "="*70 + "\n")


# === 3. Usando la Negación (NOT / ~) ===

# Queremos todas las filas **EXCEPTO** aquellas cuya población sea mayor o igual a 3000
filtro_not = ~(df['population'] >= 3000)

print("3. Filas con población menor a 3000 (usando ~):")
print(df[filtro_not].head())
print(f"Total de filas filtradas: {len(df[filtro_not])}")

--- DataFrame Inicial (Primeras 5 filas) ---
   median_income  housing_median_age  population
0         6.6085                27.0      1537.0
1         3.5990                43.0       809.0
2         5.7934                27.0      1484.0
3         6.1359                28.0        49.0
4         2.9375                19.0       850.0

======================================================================

1a. Máscara Booleana (Primeras 5):
0     True
1    False
2    False
3     True
4    False
Name: median_income, dtype: bool

1b. Filas con median_income > 6:
    median_income  housing_median_age  population
0          6.6085                27.0      1537.0
3          6.1359                28.0        49.0
18         6.5851                26.0       654.0
19         6.1724                35.0      3450.0
25         7.1615                36.0       667.0
Total de filas filtradas: 317

======================================================================

2. Filas (Income > 4 Y Age < 15):
    median_income  population
33         4.5237      8152.0
39         4.6930      2760.0
45         4.2826      3925.0
67         6.1561       728.0
93         5.0493      2866.0
Total de filas filtradas: 199

======================================================================

3. Filas con población menor a 3000 (usando ~):
   median_income  housing_median_age  population
0         6.6085                27.0      1537.0
1         3.5990                43.0       809.0
2         5.7934                27.0      1484.0
3         6.1359                28.0        49.0
4         2.9375                19.0       850.0
Total de filas filtradas: 2815

# ➕ Otros Operadores y Métodos Esenciales para Filtrado (CORREGIDO)

**Nota:** Hemos corregido el código para usar columnas que existen en `df_california` (como `latitude` y `total_bedrooms`) ya que la columna `ocean_proximity` no está presente en tu conjunto de datos.

Pandas proporciona métodos optimizados que simplifican el filtrado condicional en casos de uso comunes, como buscar valores en una lista o identificar valores nulos.

### 1. Filtrado por Rangos Numéricos con `.between()`

El método **`.between()`** simplifica la selección de valores que caen dentro de un rango específico. Es el equivalente de usar dos condiciones AND (`&`), pero mucho más legible.

| Tarea | Código Python |
| :--- | :--- |
| **Rango inclusivo** | `df['columna'].between(limite_inferior, limite_superior)` |

### 2. Filtrado de Valores Nulos

Identificar y filtrar valores faltantes (representados comúnmente como `NaN`, o *Not a Number*) es crucial en la limpieza de datos.

| Tarea | Código Python | Descripción |
| :--- | :--- | :--- |
| **Es Nulo** | `df['columna'].isnull()` | Devuelve `True` si el valor es nulo (falta). |
| **No Es Nulo** | `df['columna'].notnull()` | Devuelve `True` si el valor **NO** es nulo (está presente). |

### 3. Filtrado de Pertenencia con `.isin()` (Adaptado)

Aunque `latitude` es numérica, demostraremos `.isin()` buscando valores exactos específicos para ilustrar su uso. Si la columna fuera categórica (como `ocean_proximity`), sería el método ideal.

In [ ]:
import pandas as pd
import numpy as np

# CORRECCIÓN: Usamos solo las columnas disponibles en california_housing_test.csv
try:
    # Usamos las columnas existentes: latitude, housing_median_age, total_bedrooms
    df = df_california[['latitude', 'housing_median_age', 'total_bedrooms']].copy()

    # Introducimos valores nulos (NaN) para demostrar isnull/notnull
    # Nota: total_bedrooms SÍ tiene valores nulos en el dataset real, pero los forzamos para el ejemplo
    df.loc[3:5, 'total_bedrooms'] = np.nan
    df.loc[7, 'housing_median_age'] = np.nan

except NameError:
    # Si no existe la variable, crea un DataFrame de prueba
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = {
        'latitude': [34.0, 33.5, 34.1, 33.8, 34.0, 34.2],
        'housing_median_age': [30, 15, 50, 25, np.nan, 35],
        'total_bedrooms': [400, np.nan, 250, 300, 450, np.nan]
    }
    df = pd.DataFrame(data)

print("--- DataFrame Inicial con Datos Faltantes (y columnas corregidas) ---")
print(df.head(10))
print("\n" + "="*70 + "\n")


# === 1. Filtrado por Rangos con .between() ===
# Queremos las casas cuya edad media está entre 20 y 30 años (ambos incluidos).
filtro_between = df['housing_median_age'].between(20, 30)

resultado_between = df[filtro_between]
print("1. Filas con housing_median_age entre 20 y 30 (inclusive):")
print(resultado_between)
print("\n" + "="*70 + "\n")


# === 2. Filtrado de Valores Nulos con .isnull() y .notnull() ===

# a) Filas donde 'total_bedrooms' es NULO (falta el dato)
filtro_es_nulo = df['total_bedrooms'].isnull()
resultado_isnull = df[filtro_es_nulo]
print("2a. Filas donde 'total_bedrooms' es NULO:")
print(resultado_isnull)


# b) Filas donde 'housing_median_age' NO es NULO (el dato está presente)
filtro_no_nulo = df['housing_median_age'].notnull()
resultado_notnull = df[filtro_no_nulo].head()
print("\n2b. Filas donde 'housing_median_age' NO es NULO:")
print(resultado_notnull)
print("\n" + "="*70 + "\n")


# === 3. Filtrado de Pertenencia con .isin() (Ejemplo con latitude) ===
# Buscamos filas con valores específicos de latitud (ejemplo adaptado)
latitudes_interes = [34.0, 33.5]
filtro_isin = df['latitude'].isin(latitudes_interes)

resultado_isin = df[filtro_isin]
print("3. Filas con 'latitude' igual a 34.0 o 33.5:")
print(resultado_isin)

--- DataFrame Inicial con Datos Faltantes (y columnas corregidas) ---
   latitude  housing_median_age  total_bedrooms
0     37.37                27.0           661.0
1     34.26                43.0           310.0
2     33.78                27.0           507.0
3     33.82                28.0             NaN
4     36.33                19.0             NaN
5     36.51                37.0             NaN
6     38.63                43.0           225.0
7     35.48                 NaN           471.0
8     38.40                15.0           617.0
9     34.08                31.0           632.0

======================================================================

1. Filas con housing_median_age entre 20 y 30 (inclusive):
      latitude  housing_median_age  total_bedrooms
0        37.37                27.0           661.0
2        33.78                27.0           507.0
3        33.82                28.0             NaN
14       33.73                27.0           325.0
17       38.69                26.0           607.0
...        ...                 ...             ...
2967     33.94                26.0           540.0
2979     34.09                20.0          1037.0
2987     37.29                25.0           743.0
2995     34.42                23.0           642.0
2996     34.06                27.0          1082.0

[769 rows x 3 columns]

======================================================================

2a. Filas donde 'total_bedrooms' es NULO:
   latitude  housing_median_age  total_bedrooms
3     33.82                28.0             NaN
4     36.33                19.0             NaN
5     36.51                37.0             NaN

2b. Filas donde 'housing_median_age' NO es NULO:
   latitude  housing_median_age  total_bedrooms
0     37.37                27.0           661.0
1     34.26                43.0           310.0
2     33.78                27.0           507.0
3     33.82                28.0             NaN
4     36.33                19.0             NaN

======================================================================

3. Filas con 'latitude' igual a 34.0 o 33.5:
      latitude  housing_median_age  total_bedrooms
35        34.0                33.0           726.0
62        34.0                35.0           305.0
119       34.0                38.0            70.0
156       34.0                42.0           284.0
233       34.0                32.0           358.0
248       34.0                10.0           339.0
397       34.0                40.0           395.0
539       34.0                46.0           362.0
703       34.0                33.0           299.0
834       34.0                43.0           434.0
864       34.0                23.0           157.0
888       34.0                 6.0           468.0
1038      34.0                41.0           636.0
1048      34.0                36.0           267.0
1281      34.0                 5.0           580.0
1398      34.0                32.0            51.0
1413      33.5                13.0           255.0
1618      34.0                52.0           169.0
1665      34.0                41.0           493.0
1808      34.0                28.0           621.0
2188      34.0                38.0           390.0
2304      34.0                26.0           117.0
2868      34.0                47.0           388.0
2878      34.0                40.0           281.0

# ✍️ Creación y Modificación de Columnas

En Pandas, un DataFrame se comporta como un diccionario donde las claves son los nombres de las columnas. Para crear o modificar una columna, simplemente asignas una `Series` (una columna) o un valor único a un nombre de columna:

$$\text{df} [ '\text{nombre\_columna\_nueva}' ] = \text{valores\_o\_cálculo}$$

### 1. Creación de Columnas por Valor Único

Se asigna el mismo valor a todas las filas de la nueva columna.

* **Uso:** Inicializar una columna de bandera o categoría constante.
* **Ejemplo:** `df['Es_California'] = True`

### 2. Creación de Columnas por Cálculos

Esta es la forma más común. Se crean nuevas columnas combinando operaciones aritméticas con columnas existentes.

* **Ejemplo:** Calcular la densidad de población (población por unidad de área).
* **Fórmula:** `Habitantes_por_Hogar = df['population'] / df['households']`

### 3. Modificación de Columnas Existentes

Si el nombre de la columna ya existe en el DataFrame, la asignación sobrescribirá completamente los valores de esa columna.

* **Ejemplo:** Estandarizar una columna.
* **Fórmula:** `df['total_rooms'] = df['total_rooms'] / 1000` (convertir a miles de habitaciones)

### 4. Creación de Columnas Basada en Lógica Condicional

Para crear una columna con valores que dependen de una condición, se recomienda usar el método **`np.where()`** de NumPy por su eficiencia.

* **Sintaxis:** `np.where(condición, valor_si_True, valor_si_False)`
* **Ejemplo:** Clasificar el ingreso medio en 'Alto' o 'Bajo'.

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.
try:
    # Seleccionamos las columnas necesarias para los cálculos
    df = df_california[['population', 'households', 'total_rooms', 'median_income']].copy()
    # Reducimos el tamaño para una visualización más fácil
    df = df.head(10)
except NameError:
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = {
        'population': np.random.randint(100, 5000, 10),
        'households': np.random.randint(50, 1000, 10),
        'total_rooms': np.random.randint(1000, 50000, 10),
        'median_income': np.random.uniform(1.0, 7.0, 10)
    }
    df = pd.DataFrame(data)

print("--- DataFrame Inicial (Columnas para cálculos) ---")
print(df)
print("\n" + "="*70 + "\n")


# === 1. Creación de Columna por Cálculo (Ingeniería de Características) ===

# Calcular el promedio de habitaciones por hogar
df['rooms_per_household'] = df['total_rooms'] / df['households']
print("1. Columna 'rooms_per_household' creada:")
print(df[['total_rooms', 'households', 'rooms_per_household']].head())
print("\n" + "="*70 + "\n")


# === 2. Creación de Columna por Valor Único ===

# Asignar una categoría constante 'Test_Data'
df['data_set_type'] = 'Test_Data'
print("2. Columna 'data_set_type' creada (valor único):")
print(df[['data_set_type']].head())
print("\n" + "="*70 + "\n")


# === 3. Modificación de Columna Existente ===

# Modificar 'total_rooms' para que esté expresado en miles de unidades (dividir por 1000)
df['total_rooms'] = df['total_rooms'] / 1000
print("3. Columna 'total_rooms' modificada (valores divididos por 1000):")
print(df[['total_rooms']].head())
print("\n" + "="*70 + "\n")


# === 4. Creación de Columna Basada en Lógica Condicional (np.where) ===

# Clasificar el ingreso medio (median_income) en 'Alto' o 'Bajo' (usando un umbral de 4)
df['income_level'] = np.where(
    df['median_income'] > 4,  # Condición: ¿Ingreso medio es mayor a 4?
    'Alto',                   # Valor si la condición es True
    'Bajo'                    # Valor si la condición es False
)

print("4. Columna 'income_level' creada con np.where:")
print(df[['median_income', 'income_level']])

--- DataFrame Inicial (Columnas para cálculos) ---
   population  households  total_rooms  median_income
0      1537.0       606.0       3885.0         6.6085
1       809.0       277.0       1510.0         3.5990
2      1484.0       495.0       3589.0         5.7934
3        49.0        11.0         67.0         6.1359
4       850.0       237.0       1241.0         2.9375
5       663.0       204.0       1018.0         1.6635
6       604.0       218.0       1009.0         1.6641
7      1341.0       441.0       2310.0         3.2250
8      1446.0       599.0       3080.0         3.6696
9      2830.0       603.0       2402.0         2.3333

======================================================================

1. Columna 'rooms_per_household' creada:
   total_rooms  households  rooms_per_household
0       3885.0       606.0             6.410891
1       1510.0       277.0             5.451264
2       3589.0       495.0             7.250505
3         67.0        11.0             6.090909
4       1241.0       237.0             5.236287

======================================================================

2. Columna 'data_set_type' creada (valor único):
  data_set_type
0     Test_Data
1     Test_Data
2     Test_Data
3     Test_Data
4     Test_Data

======================================================================

3. Columna 'total_rooms' modificada (valores divididos por 1000):
   total_rooms
0        3.885
1        1.510
2        3.589
3        0.067
4        1.241

======================================================================

4. Columna 'income_level' creada con np.where:
   median_income income_level
0         6.6085         Alto
1         3.5990         Bajo
2         5.7934         Alto
3         6.1359         Alto
4         2.9375         Bajo
5         1.6635         Bajo
6         1.6641         Bajo
7         3.2250         Bajo
8         3.6696         Bajo
9         2.3333         Bajo

# 📊 Agrupación y Agregación con `.groupby()`

El método **`.groupby()`** es fundamental para resumir y obtener estadísticas descriptivas de tu DataFrame por categorías específicas. Funciona siguiendo tres pasos clave (el proceso *Split-Apply-Combine*):

1.  **Split (Dividir):** El DataFrame se divide en grupos basándose en los valores únicos de una o más columnas categóricas que definas.
2.  **Apply (Aplicar):** Se aplica una función de agregación (como `mean()`, `sum()`, `count()`, `max()`) a cada grupo.
3.  **Combine (Combinar):** Los resultados se combinan en un nuevo DataFrame (o Serie), donde el índice es la columna de agrupación.

### 1. Sintaxis Básica

La sintaxis siempre requiere una columna para agrupar y una función para agregar:

$$\text{df}.\text{groupby}(\text{'columna\_para\_agrupar'})[\text{'columna\_para\_calcular'}] . \text{función\_agregación}()$$

### 2. Funciones de Agregación Comunes

| Función | Descripción |
| :--- | :--- |
| **`.mean()`** | Calcula el promedio (media) de los valores en cada grupo. |
| **`.sum()`** | Suma todos los valores en cada grupo. |
| **`.count()`**| Cuenta el número de valores no nulos en cada grupo. |
| **`.max()` / `.min()`**| Encuentra el valor máximo / mínimo en cada grupo. |
| **`.median()`**| Calcula la mediana (percentil 50) de cada grupo. |

### 3. Agregación de Múltiples Columnas

Para aplicar la función de agregación a **todas** las columnas numéricas restantes, simplemente omite la selección de la columna de cálculo:

* **Ejemplo:** `df.groupby('ocean_proximity').mean()`

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.
try:
    # Creamos un DataFrame de trabajo con las columnas necesarias
    df = df_california[['median_income', 'population', 'housing_median_age']].copy()

    # PASO 1: Crear una columna categórica temporal para agrupar (requerida ya que 'ocean_proximity' no existe)
    # Clasificamos la edad media de la vivienda en dos grupos: 'Antigua' (>= 30) o 'Nueva' (< 30)
    df['age_group'] = np.where(df['housing_median_age'] >= 30, 'Antigua', 'Nueva')

except NameError:
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = {
        'median_income': [5.0, 6.1, 2.5, 4.0, 7.2, 3.9],
        'population': [1000, 500, 2000, 300, 800, 1500],
        'housing_median_age': [35, 15, 45, 25, 5, 30]
    }
    df = pd.DataFrame(data)
    df['age_group'] = np.where(df['housing_median_age'] >= 30, 'Antigua', 'Nueva')

print("--- DataFrame Inicial con Columna de Agrupación (age_group) ---")
print(df.head(10))
print("\n" + "="*70 + "\n")


# === 1. Agrupación Básica: Calcular la media de 'median_income' por 'age_group' ===
print("1. Ingreso Medio (mean) por Grupo de Edad:")
ingreso_promedio = df.groupby('age_group')['median_income'].mean()
print(ingreso_promedio)
print("\n" + "="*70 + "\n")


# === 2. Contar el número de filas (distritos) en cada grupo ===
print("2. Conteo (count) de Filas por Grupo de Edad:")
conteo_grupos = df.groupby('age_group')['population'].count()
print(conteo_grupos)
print("\n" + "="*70 + "\n")


# === 3. Agregación de Múltiples Columnas: Media de todas las columnas numéricas ===
print("3. Media (mean) de TODAS las Columnas Numéricas por Grupo de Edad:")
media_multiple = df.groupby('age_group').mean(numeric_only=True)
print(media_multiple)

--- DataFrame Inicial con Columna de Agrupación (age_group) ---
   median_income  population  housing_median_age age_group
0         6.6085      1537.0                27.0     Nueva
1         3.5990       809.0                43.0   Antigua
2         5.7934      1484.0                27.0     Nueva
3         6.1359        49.0                28.0     Nueva
4         2.9375       850.0                19.0     Nueva
5         1.6635       663.0                37.0   Antigua
6         1.6641       604.0                43.0   Antigua
7         3.2250      1341.0                19.0     Nueva
8         3.6696      1446.0                15.0     Nueva
9         2.3333      2830.0                31.0   Antigua

======================================================================

1. Ingreso Medio (mean) por Grupo de Edad:
age_group
Antigua    3.592085
Nueva      4.015959
Name: median_income, dtype: float64

======================================================================

2. Conteo (count) de Filas por Grupo de Edad:
age_group
Antigua    1477
Nueva      1523
Name: population, dtype: int64

======================================================================

3. Media (mean) de TODAS las Columnas Numéricas por Grupo de Edad:
           median_income   population  housing_median_age
age_group
Antigua         3.592085  1147.121869           39.524712
Nueva           4.015959  1650.753119           18.488510

# ➕ Agregación Múltiple con `.agg()` (o `.aggregate()`)

Mientras que `.mean()` o `.sum()` solo calculan una métrica, el método **`.agg()`** te permite aplicar **varias funciones de agregación** a las columnas de tus grupos en una sola llamada.

Esto es fundamental para obtener un resumen estadístico completo de cada grupo.

### 1. Sintaxis de Agregación Única

Para aplicar múltiples funciones a **una sola columna**, pasas una **lista de cadenas** (strings) con los nombres de las funciones a aplicar.

$$\text{df}.\text{groupby}('columna\_agrupacion')[\text{'columna\_calculo'}].\text{agg}( [ '\text{mean}', '\text{min}', '\text{max}' ] )$$

### 2. Sintaxis de Agregación por Columna (Diccionario)

Para aplicar **diferentes** funciones de agregación a **diferentes** columnas al mismo tiempo, pasas un **diccionario** a `.agg()`:

* **Clave del diccionario:** El nombre de la columna a la que se le aplicará la función.
* **Valor del diccionario:** Una cadena o una lista de cadenas con las funciones de agregación.

| Columna a Calcular | Función/es a Aplicar |
| :--- | :--- |
| `'median_income'` | `['mean', 'median']` |
| `'population'` | `'sum'` |

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.
try:
    # Creamos un DataFrame de trabajo con las columnas necesarias
    df = df_california[['median_income', 'population', 'housing_median_age']].copy()

    # Creamos la columna categórica 'age_group' para agrupar (como en el ejemplo anterior)
    df['age_group'] = np.where(df['housing_median_age'] >= 30, 'Antigua', 'Nueva')

except NameError:
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = {
        'median_income': [5.0, 6.1, 2.5, 4.0, 7.2, 3.9],
        'population': [1000, 500, 2000, 300, 800, 1500],
        'housing_median_age': [35, 15, 45, 25, 5, 30]
    }
    df = pd.DataFrame(data)
    df['age_group'] = np.where(df['housing_median_age'] >= 30, 'Antigua', 'Nueva')

print("--- DataFrame Inicial con Columna de Agrupación (age_group) ---")
print(df.head())
print("\n" + "="*70 + "\n")


# === 1. Agregación Múltiple a UNA Columna (usando lista) ===

# Calcular la media, el mínimo y el máximo de 'median_income' por 'age_group'
resumen_ingreso = df.groupby('age_group')['median_income'].agg(['mean', 'min', 'max'])
print("1. Resumen de 'median_income' por Grupo de Edad (mean, min, max):")
print(resumen_ingreso)
print("\n" + "="*70 + "\n")


# === 2. Agregación Múltiple a MÚLTIPLES Columnas (usando diccionario) ===

# Aplicamos diferentes funciones a diferentes columnas:
# - 'median_income': Calcular media y mediana
# - 'population': Calcular suma y máximo
resumen_completo = df.groupby('age_group').agg(
    {
        'median_income': ['mean', 'median'],
        'population': ['sum', 'max']
    }
)
print("2. Resumen Completo (Agregación diferente por columna):")
print(resumen_completo)

# Nota: El resultado tiene un MultiIndex en las columnas, para acceder a 'sum' de 'population':
# print("\nPoblación Total de Grupos Antiguos:", resumen_completo.loc['Antigua', ('population', 'sum')])

--- DataFrame Inicial con Columna de Agrupación (age_group) ---
   median_income  population  housing_median_age age_group
0         6.6085      1537.0                27.0     Nueva
1         3.5990       809.0                43.0   Antigua
2         5.7934      1484.0                27.0     Nueva
3         6.1359        49.0                28.0     Nueva
4         2.9375       850.0                19.0     Nueva

======================================================================

1. Resumen de 'median_income' por Grupo de Edad (mean, min, max):
               mean     min      max
age_group
Antigua    3.592085  0.5360  15.0001
Nueva      4.015959  0.4999  15.0001

======================================================================

2. Resumen Completo (Agregación diferente por columna):
          median_income         population
                   mean  median        sum      max
age_group
Antigua        3.592085  3.2833  1694299.0   6675.0
Nueva          4.015959  3.6771  2514097.0  11935.0

# ⬇️ Ordenamiento de Datos con `.sort_values()`

El método **`.sort_values()`** se utiliza para ordenar las filas de un DataFrame basándose en los valores contenidos en una o más columnas.

### 1. Sintaxis Básica

Necesitas especificar la columna por la cual quieres ordenar y la dirección del ordenamiento.

$$\text{df}.\text{sort\_values}(\text{by} = '\text{columna}', \text{ascending} = \text{True/False})$$

| Argumento | Descripción | Valores |
| :--- | :--- | :--- |
| **`by`** | **Obligatorio.** Nombre de la columna (o lista de columnas) por la que se ordenará. | Cadena o Lista de cadenas. |
| **`ascending`**| **Opcional.** Define la dirección del ordenamiento. | `True` (predeterminado: Ascendente, de menor a mayor) o `False` (Descendente, de mayor a menor). |

### 2. Ordenamiento por Múltiples Columnas

Puedes ordenar por varias columnas a la vez, lo cual es útil para desempatar. Pandas ordena primero por la primera columna de la lista, y si hay valores iguales, usa la segunda, y así sucesivamente.

| Tarea | Código Python |
| :--- | :--- |
| **Ordenamiento Simple** | `df.sort_values(by='median_income', ascending=False)` |
| **Ordenamiento Múltiple** | `df.sort_values(by=['housing_median_age', 'population'], ascending=[True, False])` |

> **Nota:** Cuando usas ordenamiento múltiple, puedes especificar una dirección (`ascending`) para cada columna de la lista. En el ejemplo anterior, ordena la edad de forma ascendente y la población de forma descendente.

### 3. Modificación en el Lugar (`inplace=True`)

Por defecto, `.sort_values()` devuelve un nuevo DataFrame ordenado. Si quieres que la modificación se aplique directamente al DataFrame original (`df`), debes usar el argumento `inplace=True`.

* **Ejemplo:** `df.sort_values(by='median_income', ascending=True, inplace=True)`

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.
try:
    # Creamos un DataFrame de trabajo con las columnas necesarias
    df = df_california[['median_income', 'population', 'housing_median_age']].copy()
    df = df.head(15)

except NameError:
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = {
        'median_income': [5.0, 6.1, 2.5, 4.0, 7.2, 3.9, 5.0, 2.0, 6.1, 1.5],
        'population': [1000, 500, 2000, 300, 800, 1500, 1000, 400, 500, 100],
        'housing_median_age': [35, 15, 45, 25, 5, 30, 35, 50, 15, 40]
    }
    df = pd.DataFrame(data)

print("--- DataFrame Inicial (No Ordenado) ---")
print(df)
print("\n" + "="*70 + "\n")


# === 1. Ordenamiento Simple Descendente (Mayor a Menor) ===

# Encontrar los distritos con el ingreso medio más alto
df_ordenado_ingreso = df.sort_values(by='median_income', ascending=False)
print("1. Ordenado por 'median_income' DESCENDENTE (Más ricos primero):")
print(df_ordenado_ingreso.head())
print("\n" + "="*70 + "\n")


# === 2. Ordenamiento Múltiple y Direcciones Mixtas ===

# Ordenar primero por 'housing_median_age' ascendente (más joven primero)
# Luego, si las edades son iguales, ordenar por 'population' descendente (más poblado primero)
df_ordenado_doble = df.sort_values(
    by=['housing_median_age', 'population'],
    ascending=[True, False]
)
print("2. Ordenado por Age (ASC) y Population (DESC):")
print(df_ordenado_doble)

--- DataFrame Inicial (No Ordenado) ---
    median_income  population  housing_median_age
0          6.6085      1537.0                27.0
1          3.5990       809.0                43.0
2          5.7934      1484.0                27.0
3          6.1359        49.0                28.0
4          2.9375       850.0                19.0
5          1.6635       663.0                37.0
6          1.6641       604.0                43.0
7          3.2250      1341.0                19.0
8          3.6696      1446.0                15.0
9          2.3333      2830.0                31.0
10         2.2054      1288.0                45.0
11         2.4167       564.0                37.0
12         4.6900       535.0                36.0
13         4.5625      1935.0                16.0
14         5.7121      1217.0                27.0

======================================================================

1. Ordenado por 'median_income' DESCENDENTE (Más ricos primero):
    median_income  population  housing_median_age
0          6.6085      1537.0                27.0
3          6.1359        49.0                28.0
2          5.7934      1484.0                27.0
14         5.7121      1217.0                27.0
12         4.6900       535.0                36.0

======================================================================

2. Ordenado por Age (ASC) y Population (DESC):
    median_income  population  housing_median_age
8          3.6696      1446.0                15.0
13         4.5625      1935.0                16.0
7          3.2250      1341.0                19.0
4          2.9375       850.0                19.0
0          6.6085      1537.0                27.0
2          5.7934      1484.0                27.0
14         5.7121      1217.0                27.0
3          6.1359        49.0                28.0
9          2.3333      2830.0                31.0
12         4.6900       535.0                36.0
5          1.6635       663.0                37.0
11         2.4167       564.0                37.0
1          3.5990       809.0                43.0
6          1.6641       604.0                43.0
10         2.2054      1288.0                45.0

# 🗑️ Manejo de Valores Faltantes (NaN)

Los valores faltantes (Not a Number, `NaN`) representan datos ausentes o desconocidos. Pandas proporciona métodos robustos para localizarlos, eliminarlos o imputarlos (rellenarlos).

### 1. Identificación y Conteo

Antes de actuar, es fundamental saber dónde y cuántos valores faltantes hay.

| Tarea | Código Python |
| :--- | :--- |
| **Identificar Nulos** | `df.isnull()` | Devuelve un DataFrame Booleano (`True` si es nulo). |
| **Contar Nulos (Columna)**| `df['columna'].isnull().sum()`| Cuenta el total de nulos en la columna. |
| **Contar Nulos (Todo DF)** | `df.isnull().sum()` | Devuelve el conteo de nulos para cada columna. |

### 2. Eliminación de Filas/Columnas (`.dropna()`)

El método **`.dropna()`** permite eliminar filas o columnas enteras si contienen algún valor `NaN`.

| Argumento | Descripción | Valores |
| :--- | :--- | :--- |
| **`axis`** | Define si se eliminan filas (`0` o `'index'`) o columnas (`1` o `'columns'`). | `0` (predeterminado) o `1`. |
| **`how`** | Define la regla de eliminación. | `any` (elimina si **algún** valor es `NaN`) o `all` (elimina si **todos** los valores son `NaN`). |

### 3. Relleno de Valores Faltantes (`.fillna()`)

El método **`.fillna()`** sustituye los valores `NaN` por un valor específico o por un método de imputación.

| Tarea | Código Python | Descripción |
| :--- | :--- | :--- |
| **Rellenar con Valor Único** | `df['col'].fillna(0)` | Sustituye todos los `NaN` por cero. |
| **Rellenar con la Media** | `df['col'].fillna(df['col'].mean())`| Sustituye `NaN` por el promedio de la columna. |
| **Rellenar con Mediana** | `df['col'].fillna(df['col'].median())`| Sustituye `NaN` por la mediana de la columna (más robusta a *outliers*). |

> **Nota:** Al igual que con `.sort_values()`, tanto `.dropna()` como `.fillna()` devuelven un nuevo DataFrame. Para modificar el original, usa `inplace=True`.

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.
try:
    # Usamos las columnas relevantes y creamos una copia
    df = df_california[['total_bedrooms', 'population', 'median_income']].copy()

    # Aseguramos la existencia de NaN: total_bedrooms tiene algunos NaN reales.
    # Forzamos NaN en otras columnas para el ejemplo:
    df.loc[10:12, 'population'] = np.nan
    df.loc[5, 'median_income'] = np.nan

except NameError:
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrame de prueba.")
    data = {
        'total_bedrooms': [400.0, np.nan, 250.0, 300.0, np.nan],
        'population': [1000, 500, np.nan, 300, 800],
        'median_income': [5.0, 6.1, 2.5, np.nan, 7.2]
    }
    df = pd.DataFrame(data)

print("--- DataFrame Inicial con Valores NaN ---")
print(df.head(15))
print("\n" + "="*70 + "\n")


# === 1. Identificación y Conteo de Nulos ===
print("1a. Conteo de Nulos por Columna (df.isnull().sum()):")
print(df.isnull().sum())
print("\n")

# 1b. Conteo del DataFrame completo
nulos_totales = df.isnull().sum().sum()
print(f"1b. Total de valores nulos en el DataFrame: {nulos_totales}")
print("\n" + "="*70 + "\n")


# === 2. Eliminación de Filas con .dropna() ===

# Crear un DataFrame limpio eliminando cualquier fila con al menos un NaN
df_sin_nulos = df.dropna(how='any', axis=0)
print("2. Filas restantes después de eliminar cualquier fila con un NaN (df.dropna()):")
print(df_sin_nulos.head())
print(f"Filas originales: {len(df)} | Filas restantes: {len(df_sin_nulos)}")
print("\n" + "="*70 + "\n")


# === 3. Relleno de Valores con .fillna() ===

# Rellenar 'total_bedrooms' con el valor de la media de esa columna
media_bedrooms = df['total_bedrooms'].mean()
print(f"3a. Media de total_bedrooms: {media_bedrooms:.2f}")

# Aplicar el relleno solo a 'total_bedrooms'
df['total_bedrooms_filled'] = df['total_bedrooms'].fillna(media_bedrooms)

# Rellenar 'population' con un valor constante (ej. 0)
df['population_filled'] = df['population'].fillna(0)

# Comparación del relleno (muestra las filas donde originalmente había NaN)
print("\n3b. Comparación de Columnas Rellenadas (Media y Constante):")
print(df[df['total_bedrooms'].isnull() | df['population'].isnull()][
    ['total_bedrooms', 'total_bedrooms_filled', 'population', 'population_filled']
])

--- DataFrame Inicial con Valores NaN ---
    total_bedrooms  population  median_income
0            661.0      1537.0         6.6085
1            310.0       809.0         3.5990
2            507.0      1484.0         5.7934
3             15.0        49.0         6.1359
4            244.0       850.0         2.9375
5            213.0       663.0            NaN
6            225.0       604.0         1.6641
7            471.0      1341.0         3.2250
8            617.0      1446.0         3.6696
9            632.0      2830.0         2.3333
10           249.0         NaN         2.2054
11           166.0         NaN         2.4167
12           182.0         NaN         4.6900
13           694.0      1935.0         4.5625
14           325.0      1217.0         5.7121

======================================================================

1a. Conteo de Nulos por Columna (df.isnull().sum()):
total_bedrooms    0
population        3
median_income     1
dtype: int64


1b. Total de valores nulos en el DataFrame: 4

======================================================================

2. Filas restantes después de eliminar cualquier fila con un NaN (df.dropna()):
   total_bedrooms  population  median_income
0           661.0      1537.0         6.6085
1           310.0       809.0         3.5990
2           507.0      1484.0         5.7934
3            15.0        49.0         6.1359
4           244.0       850.0         2.9375
Filas originales: 3000 | Filas restantes: 2996

======================================================================

3a. Media de total_bedrooms: 529.95

3b. Comparación de Columnas Rellenadas (Media y Constante):
    total_bedrooms  total_bedrooms_filled  population  population_filled
10           249.0                  249.0         NaN                0.0
11           166.0                  166.0         NaN                0.0
12           182.0                  182.0         NaN                0.0

# 🧩 Combinación de DataFrames: `merge` y `concat`

Combinar DataFrames significa unir dos o más tablas en una sola. Los dos métodos principales tienen propósitos distintos:

### 1. `pd.merge()` (JOIN por Clave)

Se utiliza para combinar DataFrames **horizontalmente** basándose en valores comunes en una o varias columnas clave (similar a las operaciones JOIN en SQL).

| Argumento | Descripción | Valores Típicos |
| :--- | :--- | :--- |
| **`on`** | Columna(s) clave para la unión. | `'columna_id'` o `['col1', 'col2']` |
| **`how`** | Tipo de JOIN a realizar. | `'inner'`, `'left'`, `'right'`, `'outer'` |

#### Tipos Comunes de `how` (JOIN)

* **`inner` (Predeterminado):** Solo incluye las filas que tienen coincidencias en **ambos** DataFrames.
* **`left`:** Incluye todas las filas del DataFrame de la izquierda (`df1`) y solo las que coinciden del de la derecha (`df2`). Rellena con `NaN` si no hay coincidencia.
* **`outer`:** Incluye **todas** las filas de ambos DataFrames. Rellena con `NaN` donde no haya coincidencias.

[Image of pd.merge types inner left right outer join]

### 2. `pd.concat()` (Concatenación/Apilamiento)

Se utiliza para apilar DataFrames **verticalmente** (más filas) u **horizontalmente** (más columnas), generalmente cuando tienen la misma estructura o necesitan alinearse por índice.

| Argumento | Descripción | Valores Típicos |
| :--- | :--- | :--- |
| **`axis`** | Dirección de la unión. | `0` (predeterminado: apilar filas, vertical) o `1` (apilar columnas, horizontal). |
| **`join`** | Cómo manejar las columnas/filas diferentes. | `'outer'` (predeterminado: incluye todas las columnas) o `'inner'` (solo incluye columnas comunes). |

In [ ]:
import pandas as pd
import numpy as np

# AVISO: El código asume que la variable df_california ya está cargada.

# --- 1. PREPARACIÓN DE DATOS DE EJEMPLO ---

# Usaremos df_california para crear dos DataFrames de ejemplo (df1 y df2)
try:
    df_base = df_california[['longitude', 'latitude', 'median_income']].head(10).copy()

    # Crear un DF de 'metricas_adicionales' que contiene la misma longitud, latitud y una nueva columna
    metricas_adicionales = df_california[['longitude', 'latitude', 'housing_median_age']].head(10).copy()
    metricas_adicionales['age_category'] = np.where(metricas_adicionales['housing_median_age'] > 30, 'Antigua', 'Nueva')

    # Simular un DF con menos filas (para ver el efecto del JOIN)
    metricas_adicionales = metricas_adicionales.iloc[0:7]

except NameError:
    print("ADVERTENCIA: df_california no encontrado. Creando DataFrames de prueba.")
    df_base = pd.DataFrame({'id': [1, 2, 3, 4], 'valor_a': [10, 20, 30, 40]})
    metricas_adicionales = pd.DataFrame({'id': [1, 3, 5], 'valor_b': [100, 300, 500]})

# Renombramos las columnas en el ejemplo de prueba para usar 'id' como clave
if 'id' in df_base.columns:
    df1 = df_base
    df2 = metricas_adicionales
    key_col = 'id'
else:
    # Si estamos en el caso real de california_housing, usamos longitud/latitud como clave de unión
    df1 = df_base
    df2 = metricas_adicionales
    key_col = ['longitude', 'latitude']


print("--- DF Izquierda (DF1) ---")
print(df1)
print("\n--- DF Derecha (DF2) ---")
print(df2)
print("\n" + "="*70 + "\n")


# === 1. Combinación Horizontal con pd.merge() ===

# Realizamos un LEFT JOIN: Mantenemos todas las filas de DF1 y solo añadimos las que coincidan de DF2
merge_left = pd.merge(df1, df2, on=key_col, how='left')
print("1a. Resultado de pd.merge(how='left'):")
print(merge_left)


# Realizamos un INNER JOIN: Solo filas presentes en ambos (debería ser más corto si hay IDs faltantes)
merge_inner = pd.merge(df1, df2, on=key_col, how='inner')
print("\n1b. Resultado de pd.merge(how='inner'):")
print(merge_inner)
print("\n" + "="*70 + "\n")


# === 2. Concatenación Vertical con pd.concat() ===

# Crear un tercer DF con la misma estructura para concatenar
df_extra = df1.head(2).copy()
df_extra['median_income'] = df_extra['median_income'] * 2
print("--- DF Extra para Concatenar ---")
print(df_extra)

# Concatenar DF1 y DF_Extra (apilar uno debajo del otro, axis=0 por defecto)
df_concat_vertical = pd.concat([df1, df_extra], ignore_index=True)
print("\n2. Resultado de pd.concat() vertical (Más filas):")
print(df_concat_vertical)

--- DF Izquierda (DF1) ---
   longitude  latitude  median_income
0    -122.05     37.37         6.6085
1    -118.30     34.26         3.5990
2    -117.81     33.78         5.7934
3    -118.36     33.82         6.1359
4    -119.67     36.33         2.9375
5    -119.56     36.51         1.6635
6    -121.43     38.63         1.6641
7    -120.65     35.48         3.2250
8    -122.84     38.40         3.6696
9    -118.02     34.08         2.3333

--- DF Derecha (DF2) ---
   longitude  latitude  housing_median_age age_category
0    -122.05     37.37                27.0        Nueva
1    -118.30     34.26                43.0      Antigua
2    -117.81     33.78                27.0        Nueva
3    -118.36     33.82                28.0        Nueva
4    -119.67     36.33                19.0        Nueva
5    -119.56     36.51                37.0      Antigua
6    -121.43     38.63                43.0      Antigua

======================================================================

1a. Resultado de pd.merge(how='left'):
   longitude  latitude  median_income  housing_median_age age_category
0    -122.05     37.37         6.6085                27.0        Nueva
1    -118.30     34.26         3.5990                43.0      Antigua
2    -117.81     33.78         5.7934                27.0        Nueva
3    -118.36     33.82         6.1359                28.0        Nueva
4    -119.67     36.33         2.9375                19.0        Nueva
5    -119.56     36.51         1.6635                37.0      Antigua
6    -121.43     38.63         1.6641                43.0      Antigua
7    -120.65     35.48         3.2250                 NaN          NaN
8    -122.84     38.40         3.6696                 NaN          NaN
9    -118.02     34.08         2.3333                 NaN          NaN

1b. Resultado de pd.merge(how='inner'):
   longitude  latitude  median_income  housing_median_age age_category
0    -122.05     37.37         6.6085                27.0        Nueva
1    -118.30     34.26         3.5990                43.0      Antigua
2    -117.81     33.78         5.7934                27.0        Nueva
3    -118.36     33.82         6.1359                28.0        Nueva
4    -119.67     36.33         2.9375                19.0        Nueva
5    -119.56     36.51         1.6635                37.0      Antigua
6    -121.43     38.63         1.6641                43.0      Antigua

======================================================================

--- DF Extra para Concatenar ---
   longitude  latitude  median_income
0    -122.05     37.37         13.217
1    -118.30     34.26          7.198

2. Resultado de pd.concat() vertical (Más filas):
    longitude  latitude  median_income
0     -122.05     37.37         6.6085
1     -118.30     34.26         3.5990
2     -117.81     33.78         5.7934
3     -118.36     33.82         6.1359
4     -119.67     36.33         2.9375
5     -119.56     36.51         1.6635
6     -121.43     38.63         1.6641
7     -120.65     35.48         3.2250
8     -122.84     38.40         3.6696
9     -118.02     34.08         2.3333
10    -122.05     37.37        13.2170
11    -118.30     34.26         7.1980