<a href="https://colab.research.google.com/github/oerv13-gh/Ibero/blob/main/Manejo_Diccionario.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
User1 = {
    "Nombre" : "Julian",
    "Apellido" : "Londoño",
    "Edad" : "43",
    "Direcion" : "Calle 3",
    "Materias" :  ["Math", "Sciencie", "Social" ]
    }

User2 = {
    "Nombre" : "Camilo",
    "Apellido" : "Melo",
    "Edad" : "25",
    "Direcion" : "Calle 93",
    "Materias" :  ["Math", "Sciencie", "Languaje" ]
    }

In [9]:
print(User2)

{'Nombre': 'Wilmer', 'Apellido': 'Melo', 'Edad': '25', 'Direcion': 'Calle 93', 'Materias': ['Math', 'Sciencie', 'Languaje'], 'Salario': '3000'}

In [7]:
print(User2["Nombre" ])

Wilmer

In [6]:
# Actualizar dato
User2["Nombre"] = "Wilmer"

In [8]:
# Añadir campo al Diccionario
User2["Salario"] = "3000"

In [12]:
# Ver las llaves
print(User1.keys())

dict_keys(['Nombre', 'Apellido', 'Edad', 'Direcion', 'Materias'])

In [13]:
# Acceder a los valores
print(User1.values())

dict_values(['Julian', 'Londoño', '43', 'Calle 3', ['Math', 'Sciencie', 'Social']])

In [14]:
# Recorrido de valores
for valor in User1.values():
    print(valor)

Julian
Londoño
43
Calle 3
['Math', 'Sciencie', 'Social']

In [15]:
# Recorrido de valores asignacion a lista
mi_lsita = []
for valor in User1.values():
    print(valor)
    mi_lsita.append(valor)

Julian
Londoño
43
Calle 3
['Math', 'Sciencie', 'Social']

In [16]:
print(mi_lsita)

['Julian', 'Londoño', '43', 'Calle 3', ['Math', 'Sciencie', 'Social']]